@import "../../../styles/settings.scss";

.root {

  .separator {
    border: 3px solid #dd3333;
    width: 100%;
    display: block;
  }

  .container {
    display: flex;
    background-image: url(../../../../public/images/mainlayout/background_menubar.jpg);
    color: $light-text-color;
    font-family: $primary-font;
    font-size: 15px;
    height: 48px;
    align-items: center;

    .menuButtons {
      display: flex;
      flex: 5.5;
      align-items: center;
      justify-content:space-around;

      .lineHeight {
        margin: 17px 0 -27px 0;
        height: 48px;
      }

      a { color: $light-text-color;

        &:hover {
          color: $medium-text-color;
        }
      }

      li {
        display: inline;
      }

      span {
        margin-left:  10px;
      }

      .expander {
        height: 100%;
        font-size: $base-size;
        justify-content: center;
        display: flex;
        position: relative;

        .test {     /* related to MebuBar.js L-45 */
          padding: 0 0 0 0;
        }

        &:hover {
          .expandContent {
            display: block;
          }
        }

        .expanderText {
          font-size: 15px;
        }

        .expanderArrow {
          margin: 1px 10px 0 10px;
        }

        .expandContent {
          background: $background-color-09;
          text-align: center;
          display: none;
          position: absolute;
          top:30px;
          transform: translateX(11.5%);
          box-shadow: 2px 2px 2px grey;
          margin-top: 10px;
          z-index: 1;

          ul {
            padding: 0px 2.5px 0 2.5px;

            li {
              padding: 10px 7px 0 7px;
              display:flex;
              color: $main-text-color;

              .artCat {
              font-size: 13px;
              }

              a {
                color: $main-text-color;
                font-weight: 500;
                text-decoration: none;

                &:hover {
                  color: $green-text-color;
                  cursor: pointer;
                }

                img {
                  max-width: 210px;
                }
              }

              ul {
                li {
                  display: block;
                }
              }
            }
          }

          .arrows {
            display: inline-block;
            font-size: $middle-articles-title;
            margin: 15px 0 10px 0;

            ul {
                display: flex;
              }

            .arrowPrev, .arrowNext {
              margin: 0 5px 0 5px;
              width: 30px;
              border: 1px solid grey;

              &:hover {
                background-color: $green-text-color;
                cursor: pointer;
              }
            }
          }

          .categories {
            display: flex;
            justify-content: center;
            margin: 15px 0 25px 0;
            font-size: $block-title;
            font-weight: 500;

            li {
              margin: 0 15px 0 15px;

              &:hover {
                color: $green-text-color;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .searchButton {
      flex: 1;
      text-align: end;
      margin-right: 60px;
    }
  }

  @media (max-width: 1200px) {
    .container {

      span {
        margin-left: 8px;
      }

      .expander {

        &:hover {
          .expandContent {
            display: block;
          }
        }

        .expanderText {
          font-size: 15px;
        }

        .expanderArrow {
          margin: 1px 10px 0 10px;
        }

        .expandContent {

          transform: translateX(21%);
          margin-top: 24px;
          z-index: 100;

          ul {
            li {
              .artCat {
              font-size: 10px;
              }
              a {
                img {
                  max-width: 100%;
                }
              }
            }
          }

          .arrows {
            margin: 0 0 0 0;

            ul {
              display: flex;
            }
          }

          .categories {
            margin: 0 0 0 0;
            font-size: $top-bar;
          }
        }
      }
      .searchButton {
        flex: 0.5;
        margin-right: 40px;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      display: none;
    }
  }
}
