@import "../../../styles/settings.scss";

.root {
  // * {border: 1px dotted green;}

  .container {
    font-family: $primary-font;
    font-size: $popular-categories-list;
    line-height: 2.5em;
    margin: 20px 48px 0 12px;

    .sectionTitle {
      position: relative;
      font-size: $block-title;
      font-weight: 500;
      flex: 8.5;
      text-transform: uppercase;
    }

    .sectionTitle::after {
      position: absolute;
      display: block;
      content: '';
      bottom: 15px;
      left: 50%;
      width: 61%;
      height: 4px;
      transform: translateX(-24%);
      background: $background-color-01;
    }

    .categoriesWrapper {
      display: flex;
      font-weight: 500;

      &:hover {
        color: $background-color-01;
        cursor: pointer;
      }
    }

    .category {
      flex: 8;
    }

    .total {
      flex: 1;
    }
  }

  @media (max-width: 1200px) {
    .container {
    margin: 0px 5px 0 5px;
    }
  }

  @media (max-width: 768px) {

    .container {
      line-height: 2.5em;
      margin: 0px 5px 0 5px;

      .sectionTitle::after {
        width: 65%;
        transform: translateX(-26%);
      }

      .categoriesWrapper {
        line-height: 1.5rem;
      }

      .category {
        flex: 15;
      }

      .total {
        flex: 1;
        text-align: end;
      }
    }
  }
}
