@import "../../../styles/settings.scss";

.root {
  // * {border: 1px dotted green;}

  .container {
    font-family: $primary-font;
    font-size: $popular-categories-list;
    line-height: 2.5em;
    margin: 20px 48px 0 12px;

    .sectionTitleWrapper {
      display: flex;

      .sectionTitle {
        min-width: 120px;
        font-size: $block-title;
        font-weight: 500;
        text-transform: uppercase;
      }

      .sectionLine {
        background-color: $background-color-01;
        margin-top: 15px;
        width: 100%;
        height: 4px;
      }
    }

    .categoriesWrapper {
      display: flex;
      font-weight: 500;

      &:hover {
        color: $background-color-01;
        cursor: pointer;
      }
    }

    .category {
      flex: 8;
    }

    .total {
      flex: 1;
    }
  }

  @media (max-width: 1200px) {
    .container {
    margin: 0px 5px 0 5px;
    }
  }

  @media (max-width: 768px) {

    .container {
      line-height: 2.5em;
      margin: 0px 5px 0 5px;

      .categoriesWrapper {
        line-height: 1.5rem;
      }

      .category {
        flex: 15;
      }

      .total {
        flex: 1;
        text-align: end;
      }
    }
  }
}
