@import "../../../styles/settings.scss";

.root {
// * {border: 1px dotted blue;}

  .container {
    display: flex;
    font-family: $primary-font;
    font-size: $top-bar;
    font-weight: 900;
    align-items: center;
    background-color: $background-color-11;
    margin-bottom: 25px;
    height: 35px;

    .temperature {
      display: flex;
      flex: 1;
      margin-left: 48px;
      padding-right: 5px;
      word-spacing: 3px;
    }

    .date {
      flex: 1.3;
    }

    .topMenu {
      display: flex;
      flex: 5;

      a {
        color: $dark-text-color;

          &:hover {
            color: $main-text-color;
          }
      }

      .btn {
        margin-right: 16px;
      }
    }

    .topBarSocialList {
      flex: 1;
      margin-right: 48px;;
    }
  }

  @media (max-width: 1200px) {
    .container {
      .temperature {
        flex: 1.5;
      }

      .date {
        flex: 2;
      }

      .topMenu {
        flex: 4.5;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      display: none;
    }
  }
}
