@import "../../../styles/settings.scss";

.root {

  .container {
    font-family: $primary-font;
    margin: 50px 48px 20px 24px;

    .sectionTitleWrapper {
      display: flex;

      .sectionTitle {
        min-width: 130px;
        font-size: $block-title;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .sectionLine {
        background-color: $background-color-04;
        margin-top: 10px;
        width: 100%;
        height: 4px;
      }
    }

    .articleWrapper {
      display:flex;
      margin: 20px 0 20px 0;

      .photo {
        img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        }
      }

      .artDescWrapper {
        flex: 2;
        margin: 0 0 0 10px;

        &:hover {
          color: $background-color-04;
          cursor: pointer;
        }

        .artCat {
          font-size: $base-size;
          text-transform: uppercase;
        }

        .artTitle {
          font-size: $popular-categories-list;
          font-weight: 500;
        }
      }
    }

    .arrows {
      margin-top: 20px;
      display: flex;
      justify-content: start;

      a {
        color: $main-text-color;

        &:hover {
          color: $light-text-color;
        }
      }

      .arrowPrev,
      .arrowNext {
        padding: 0 5px 0 5px;
        border: 1px dotted $medium-text-color;

        &:hover {
          background-color: $background-color-04;
        }
      }

      .arrowPrev {
        margin-right: 2px;
      }

      .arrowNext {
        margin-left: 2px;
      }
    }
  }

  @media (max-width: 1200px) {
    .container {
      margin: 0px 48px 20px 48px;

      .sectionTitle::after {
        width: 75%;
        transform: translateX(-37%);
      }

      .articleWrapper {

        .artDescWrapper {
          flex: 6;
          margin: 25px 0 0 10px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      margin: 25px 5px 20px 5px;

      .articleWrapper {
        margin: 20px 0 20px 0;

        .artDescWrapper {
          flex: 3;
          margin: 15px 0 0 10px;
          line-height: normal;
        }
      }
    }
  }
}
