@import "../../../styles/settings.scss";

.root {

  .container {
    margin: 0 48px 10px 24px;
    display: flex;
    font-family: $primary-font;
    text-align: center;

    .socialContainer {
      font-size: $base-size;
      flex: 1;

      .numberOfFans {
        font-size: $block-title;
        font-weight: 900;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      margin: 20px 5px 25px 5px;
    }
  }
}
