@import "../../../styles/settings.scss";

.root {
  * {border: 1px dotted blue;}

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $primary-font;

    .socialContainer {
      font-size: $base-size;
      flex: 1;
      align-items: center;
      justify-content: space-around;
      margin: auto;

      .numberOfFans {
        font-size: $block-title;
        font-weight: 900;
      }
    }
  }

}
