@import "../../../styles/settings.scss";

.root {
  // * {border: 1px dotted blue;}

  .container {
    display: flex;

    .bottomArticlesLeft {
      flex: 2;
    }

    .bottomArticlesRight {
      flex: 1;
    }
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }

  @media (max-width: 1200px) {
    .container {
      flex-direction: column;
    }
  }
}
