@import "../../../styles/settings.scss";

.root {

  .container {
    font-family: $primary-font;
    margin: 0 48px 25px 12px;

    .sectionTitle {
      position: relative;
      font-size: $block-title;
      font-weight: 500;
      flex: 8.5;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .sectionTitle::after {
      position: absolute;
      display: block;
      content: '';
      bottom: 10px;
      left: 50%;
      width: 68%;
      height: 4px;
      transform: translateX(-28%);
      background: $background-color-01;
    }

    .articleCategory {
      display: inline;
      text-transform: uppercase;
      font-size: $must-read-author-data;

      &:hover {
        color: $background-color-01;
        cursor: pointer;
      }
    }

    .articleTitle {
      margin: 10px 0 10px 0;
      font-size: $must-read-articles-title;
      font-weight: 500;

      &:hover {
        color: $background-color-01;
        cursor: pointer;
      }
    }

    .articleDetailsWrapper {
      display: flex;
    }

    .editorData {
      margin-right: 20px;
      font-size: $must-read-author-data;

      &:hover {
        color: $background-color-01;
        cursor: pointer;
      }
    }

    .articleDate {
      font-size: $must-read-author-data;
    }

    .arrows {
      margin-top: 20px;
      display: flex;
      justify-content: start;

      a {
        color: $main-text-color;

        &:hover {
          color: $light-text-color;
        }
      }

      .arrowPrev {
        padding: 0 5px 0 5px;
        border: 1px dotted $medium-text-color;
        margin-right: 2px;

        &:hover {
          background-color: $background-color-01;
        }
      }

      .arrowNext {
        padding: 0 5px 0 5px;
        border: 1px dotted $medium-text-color;
        margin-left: 2px;

        &:hover {
          background-color: $background-color-01;
        }
      }
    }
  }

  @media (max-width: 768px) {

    .container {
      margin: 10px 5px 10px 5px;

      .sectionTitle {
        margin-bottom: 0px;
      }

      .sectionTitle::after {
        width: 68%;
        transform: translateX(-29%);
      }

      .articleTitle {
        margin: 0px 0 10px 0;
        line-height: normal;
      }
    }
  }

  @media (max-width: 1200px) {
    .container {
      margin: 10px 5px 10px 5px;
    }

  }
}
