@import "../../../styles/settings.scss";

  .playerWrapper {
    margin: 50px 48px 50px 48px;
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */

    .reactPlayer {
      position: absolute;
      top: 0;
      left: 0;
    }
  }



