@import "../../../styles/settings.scss";

.root {
  // * {border: 1px dotted blue;}

  .container {
    display: flex;

    .middleArticlesLeft {
      flex: 2;
    }

    .middleArticlesRight {
      flex: 1;
    }
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;

      // .GadRecWrapper {
      //   flex-direction: column;

      // }

    }
  }

}
