@import "../../../styles/settings.scss";

.root {
  // * {border: 1px dotted blue;}

  .container {
    display: flex;

    .middleArticlesLeft {
      flex: 2;
    }

    .middleArticlesRight {
      flex: 1;
    }
  }

}
