@import "../../../styles/settings.scss";

.root {

  .container {
    display: flex;
    margin: 0 48px 25px 48px;

    .logo {
      flex: 25%;
      margin: auto;
      text-align: center;
    }

    .banner {
      flex: 1;
      margin-left: 20px;
    }
  }

  @media (max-width: 1200px) {
    .container {
      .banner {
        display: none;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      display: none;
    }
  }
}
