@import "../../../styles/settings.scss";

.root {

  .container {
    margin: 40px 24px 25px 0;
    text-align: center;

    .title {
      font-family: $primary-font;
      font-size: 10px;
    }
  }
}
