@import "../../../styles/settings.scss";

.root {

  .container {
    margin: 40px 24px 25px 0;
    text-align: center;

    .title {
      font-family: $primary-font;
      font-size: 10px;
    }
  }

  @media (max-width: 768px) {
    .container {
      margin: 20px 5px 25px 5px;

      img {
        width: 100%;
      }
    }
  }
}
