@import "../../../styles/settings.scss";

.root {
    // * {border: 1px dotted blue;}

    .container {
      display: block;
      background-image: url(../../../../public/images/mainlayout/bottomBar-bg.jpg);
      background-size: cover;
      text-align: center;
      min-height: 450px;
      font-family: $primary-font;
      color: $light-text-color;
      font-size: $base-size;

      .contentWrapper {
        position: relative;
        top: 75px;

        .logo {
          position:inherit;
        }

        .bottomBarText {
          padding: 0 200px 0 200px;
          position:inherit;
          top: 20px;
        }

        .contact {
          position:inherit;
          top: 30px;
          margin-bottom: 20px;

          a {
            color: $background-color-01;
          }
        }

        .component {
          position: inherit;
          top: 70px;
        }


      }

      // .logo {
      //   position: relative;
      // }

      // .bottomBarText {
      //   margin: 50px 200px 0 200px;
      // }
    }
}
