@import "../../../styles/settings.scss";

.root {
    * {border: 1px dotted blue;}

    .container {
      display: block;
      background-image: url(../../../../public/images/mainlayout/bottomBar-bg.jpg);
      background-size: cover;
      text-align: center;
      height: 450px;
      font-family: $primary-font;
      color: $light-text-color;
      font-size: $top-bar;

      .bottomBarText {
        margin: 50px 200px 0 200px;
      }
    }
}
