@import "../../styles/settings.scss";

.root {

  .container {
    font-family: $primary-font;
    margin: 25px 48px 25px 24px;

    .titleWrapper {
      display: flex;
      position: relative;

      .sectionTitle {
        position: relative;
        font-size: $block-title;
        font-weight: 500;
        flex: 8.5;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      .sectionTitle::after {
        position: absolute;
        display: block;
        content: '';
        bottom: 10px;
        left: 50%;
        width: 77%;
        height: 4px;
        transform: translateX(-31%);
        background: $background-color-08;
      }

      .expander {
        flex: 1.5;
        font-size: $top-bar;
        padding-top: 4px;
        justify-content: end;
        display: flex;
        font-size: $base-size;
        color: $main-text-color;

        .expanderArrow {
          margin-left: 10px;
        }
      }
    }

    .articleWrapper {

      .articlePhoto {
        text-align: center;

        img {
          max-width: 324px;
        }
      }

      .articleTitle {
        margin: 10px 0 10px 0;
        font-size: $block-title;
        font-weight: 500;
      }
    }

    .articleWrapper:hover {
      color: $background-color-08;
      cursor: pointer;
    }

    .articleDetails {
      display: flex;
      font-size: $base-size;
      margin-bottom: 10px;

      .articleCategory {
        flex: 1;
        text-transform: uppercase;

        &:hover {
          color: $background-color-08;
          cursor: pointer;
        }
      }

      .editorDate {
        flex: 1;

        &:hover {
          color: $background-color-08;
          cursor: pointer;
        }
      }

      .articleDate {
        flex: 2;
        color: $main-text-color;
      }
    }

    .articleLead {
      color: $main-text-color;
      font-size: $base-size;
    }

    .arrows {
      margin-top: 20px;
      display: flex;
      justify-content: start;

      a {
        color: $main-text-color;

        &:hover {
          color: $light-text-color;
        }
      }

      .arrowPrev {
        padding: 0 5px 0 5px;
        border: 1px dotted $medium-text-color;
        margin-right: 2px;

        &:hover {
          background-color: $background-color-08;
        }
      }

      .arrowNext {
        padding: 0 5px 0 5px;
        border: 1px dotted $medium-text-color;
        margin-left: 2px;

        &:hover {
          background-color: $background-color-08;
        }
      }
    }
  }
}
