@import '../../styles/settings.scss';

.root {

  .container {
    font-family: $primary-font;
    margin: 0 24px 25px 48px;

    .sectionTitleWrapper {
      display: flex;

      .sectionTitle {
        flex: 9;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0 0 15px 0;
        position: relative;
      }

      .sectionTitle::after {
        position: absolute;
        display: block;
        content: '';
        bottom: 10px;
        left: 50%;
        width: 90%;
        height: 4px;
        transform: translateX(-34%);
        background: $background-color-02;
      }

      .expander { /* EXPANDER START */
        flex: 1.5;
        font-size: $base-size;
        padding-top: 2px;
        justify-content: end;
        display: flex;
        color: $main-text-color;
        position: relative;

          &:hover {
            .expandContent {
              display: block;
            }
          }

        .expanderArrow {
          margin-left: 10px;
        }

        .expandContent {
          background: $background-color-09;
          border: 1px solid $background-color-11;
          display: none;
          position: absolute;
          top: 20px;
          left: -11px;
          text-align: end;
          opacity: 0.95;
          padding: 10px 20px 0 0;
          margin-top: 15px;

          ul {
            list-style-type: none;

            li {
              padding: 5px;
              display: block;

              &:hover {
                color: $green-text-color;
              }

              a {
                color: $main-text-color;
                text-decoration: none;

                &:hover {
                  color: $green-text-color;
                }
              }
            }
          }
        }
      } /* EXPANDER END */
    }

    .articlesWrapper {
      display: flex;

      .leftArticleWrapper {
        flex: 1;
        margin-right: 12px;
        .bigPhoto {
          img {
          max-width: 336px;
          }
        }

        .articleDescriptionWrapper {
          font-size: $base-size;

          .artCategory {
            text-transform: uppercase;
            margin-top: 10px;

            &:hover {
              color: $background-color-02;
              cursor: pointer;
            }
          }

          .artTitle {
            font-size: $head-top-articles-title;
            font-weight: 500;

            &:hover {
              color: $background-color-02;
              cursor: pointer;
            }
          }

          .editorData {
            font-size: $must-read-author-data;
            line-height: 1.5rem;
            margin-bottom: 7px;
            &:hover {
              color: $background-color-02;
              cursor: pointer;
            }
          }
        }
      }

      .rightArticlesWrapper {
        margin-left: 12px;

        .rightArticleWrapper {
          flex: 1;
          display: flex;
          padding-bottom: 25px;

          .articlePhoto {
            img {
              max-width: 100px;
              padding-left:10px;
            }
          }

          .rightArtDecsriptionWrapper {
            flex: 5;
            margin-left: 10px;

            .rightArtEditorData {
              font-size: $must-read-articles-title;
              font-weight: 500;

              &:hover {
                color: $background-color-02;
                cursor: pointer;
              }
            }

            .rightEditorData {
              font-size: $top-bar;
              line-height: 1.5rem;
            }
          }
        }
      }
    }
  }
}
