@import '../../styles/settings.scss';

.root {
  * {border: 1px dotted green}

  .container {
    // display: inline;
    font-family: $primary-font;

    .sectionTitleWrapper {
      display: flex;

      .sectionTitle {
        flex: 9;
        text-transform: uppercase;
      }

      .expander {
        flex: 1;
      }
    }

    .articlesWrapper {
      display: flex;

      .leftArticleWrapper {
        flex: 1;

        .bigPhoto {
          img {
          max-width: 340px;
          }
        }

        .articleDescriptionWrapper {
          font-size: $base-size;

          .artCategory {
            text-transform: uppercase;
          }

          .artTitle {
            font-size: $head-top-articles-title;
          }

          .editorData {
            font-size: $must-read-author-data;
          }

        }
      }

      .rightArticleWrapper {
        flex: 1;
        display: flex;

        .articlePhoto {
          img {
            max-width: 100px;
          }
        }

        .rightArtDecsriptionWrapper {
          flex: 5;

          .rightArtEditorData {
            font-size: $must-read-articles-title;
            font-weight: 500;
          }

          .rightEditorData {
            font-size: $top-bar;
          }







        }
      }


    }

  }

}
