@import "../../styles/settings.scss";

.root {

  .container {
    font-family: $primary-font;
    margin: 0px 13px 0 48px;

     .sectionTitle {
      position: relative;
      font-size: $block-title;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .sectionTitle::after {
      position: absolute;
      display: block;
      content: '';
      bottom: 10px;
      left: 50%;
      width: 75%;
      height: 4px;
      transform: translateX(-38%);
      background: $background-color-01;
    }

    .rows {
      display:flex;
      margin-bottom: 30px;

      .articleWrapper {
        flex: 1;
        .photo {
          img {
            max-width: 336px;
          }
        }

        .artCat {
          text-transform: uppercase;
          font-size: $base-size;
          font-weight: 500;
          margin: 10px 0 10px 0;

          &:hover {
            color: $background-color-01;
            cursor: pointer;
          }
        }

        .artTitle {
          font-size: $latest-articles-title;
          font-weight: 500;
          margin-right: 25px;

          &:hover {
            color: $background-color-01;
            cursor: pointer;
          }
        }

        .artDetailsWrapper {
          display:flex;
          font-size: $base-size;
          margin-top: 10px;

          .editorData {
            font-weight: 500;
            margin-right: 10px;

            &:hover {
              color: $background-color-01;
              cursor: pointer;
            }
          }

          .date {
            color:$main-text-color;
          }
        }
      }
    }

    .arrowWrapper {
      display: flex;
      margin: 20px 25px 55px 0;
    }

    .arrows {

      display: flex;
      flex: 1;
      justify-content: start;

      a {
        color: $main-text-color;

        &:hover {
          color: $light-text-color;
        }
      }

      .arrowPrev {
        padding: 0 5px 0 5px;
        border: 1px dotted $medium-text-color;
        margin-right: 2px;
        width: 25px;
        height: 25px;
        text-align: center;

        &:hover {
          background-color: $background-color-01;
        }
      }

      .arrowNext {
        padding: 0 5px 0 5px;
        border: 1px dotted $medium-text-color;
        margin-left: 2px;
        width: 25px;
        height: 25px;

        &:hover {
          background-color: $background-color-01;
        }
      }

      .dots {
        text-align: center;
        width: 25px;
        height: 25px;
      }
    }
  }
}
