@import "../../styles/settings.scss";

.root {

  .container {
    font-family: $primary-font;
    margin: 0 15px 25px 15px;

    .sectionTitle {
      position: relative;
      font-size: $block-title;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .sectionTitle::after {
      position: absolute;
      display: block;
      content: '';
      bottom: 10px;
      left: 50%;
      width: 71%;
      height: 4px;
      transform: translateX(-35%);
      background: $background-color-06;
    }

    .mainPhoto {
      img {
      max-width: 336px;
      }
    }

    .artCategory {
      padding-top: 10px;
      text-transform: uppercase;
      font-size: $base-size;

      &:hover {
        color: $background-color-06;
        cursor: pointer;
      }
    }

    .mainArtTitle {
      font-size: $middle-articles-title;
      font-weight: 500;

      &:hover {
        color: $background-color-06;
        cursor: pointer;
      }
    }

    .editorDataWrapper {
      display: flex;
      font-size: $top-bar;
      .editorData {
        padding: 0 10px 10px 0;
      }

      .editorData {
        font-weight: 500;

        &:hover {
          color: $background-color-06;
          cursor: pointer;
        }
      }
    }

    .artLead {
      font-size: $base-size;
    }

    .artsWrapper {
      display: flex;
      img {
        max-width: 100px;
      }

      margin-top: 20px;

      .detailsWrapper {
        font-size: $base-size;
        padding-left: 10px;

        .title {
          font-weight: 500;

          &:hover {
            color: $background-color-06;
            cursor: pointer;
          }
        }
      }
    }

    .arrows {
      margin-top: 20px;
      display: flex;
      justify-content: start;

      a {
        color: $main-text-color;

        &:hover {
          color: $light-text-color;
        }
      }

      .arrowPrev,
      .arrowNext {
        padding: 0 5px 0 5px;
        border: 1px dotted $medium-text-color;

        &:hover {
          background-color: $background-color-06;
        }
      }

      .arrowPrev {
        margin-right: 2px;

        &:hover {
          background-color: $background-color-06;
        }
      }

      .arrowNext {
         margin-left: 2px;
      }
    }
  }

  @media (max-width: 1200px) {
    .container {
      margin: 0 48px 15px 12px;

      .sectionTitle::after {
        width: 70%;
        transform: translateX(-30%);
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      margin: 0 5px 15px 5px;
      .sectionTitle::after {
        width: 75%;
        height: 4px;
      }

      .mainPhoto {
        img {
        max-width: 100%;
        }
      }

      .mainArtTitle {
        line-height: normal;
      }

      .artsWrapper {
        display: flex;
        img {
          max-width: 100px;
        }
      }
    }
  }
}
