@import "../../styles/settings.scss";

.root {

  .container {
    font-family: $primary-font;
    margin: 0 24px 25px 48px;

    .sectionTitleWrapper {
      display: flex;

      .sectionTitle {
        min-width: 135px;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0 0 10px 0;
      }

      .sectionLine {
        background-color: $background-color-03;
        margin-top: 10px;
        width: 100%;
        height: 4px;
      }
    }

    .tilesWrapper {
      display: flex;
      justify-content: space-between;

      .tileCat {
        text-transform: uppercase;
      }

      img {
        max-width: 100%;
        max-height: 281px;
      }

      .tile01 {
        position: relative;
        margin: 0 3px 0 0;

        .tileWrapper {
          color: $light-text-color;
          font-size: $base-size;
          text-align: center;
          font-weight: 500;
          position: absolute;
          left: center;
          bottom: 10%;
          margin: 0 5px 0 5px;
        }
      }
    }
  }

  .arrows {
    margin-top: 20px;
    display: flex;
    justify-content: start;

    a {
      color: $main-text-color;

      &:hover {
        color: $light-text-color;
      }
    }

    .arrowPrev,
    .arrowNext {
      padding: 0 5px 0 5px;
      border: 1px dotted $medium-text-color;

      &:hover {
        background-color: $background-color-03;
      }
    }

    .arrowPrev {
      margin-right: 2px;
    }

    .arrowNext {
      margin-left: 2px;

      &:hover {
        background-color: $background-color-03;
      }
    }
  }

  @media (max-width: 1200px) {
    .container {
      margin: 0 48px 25px 48px;
    }
  }

  @media (max-width: 768px) {
    .container {
      margin: 0 5px 25px 5px;

      .tilesWrapper {
        flex-direction: column;

        img {
          max-width: 100%;
          max-height: 100%;
        }

        .tile01 {
          margin-bottom: 5px;
        }
      }
    }
  }
}
