@import "../../../styles/settings.scss";

.root {
  font-family: $primary-font;
  background-color: $background-color-10;
  color: $medium-text-color;
  font-size: $base-size;
  min-height: 37px;

  .container {
    display: flex;
    transform: translateY(50%);
    margin: 0 48px 0 48px;

    .leftSide {
      flex: 8;
    }

    .rightSide {
      display: flex;

      a {
        color: $medium-text-color;
        padding-left: 20px;

        &:hover {
          color: $light-text-color;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
    position: relative;
    }

    .leftSide, .rightSide {
      text-align: center;
      justify-content: center;
    }

    .leftSide {
      position: absolute;
      top: -40%;
      left: 15%;
    }

    .rightSide {
      position: relative;
      bottom: -7px;
      left: 33%;
    }
  }
}
