@import "../../../styles/settings.scss";

.root {
  * {border: 1px dotted blue;}

  .container {
    display: flex;

    .topArticlesLeft {
      flex: 2;
    }

    .topArticlesRight {
      flex: 1;
    }
  }

}
