@import "../../../styles/settings.scss";

.root {
  // * {border: 1px dotted blue;}

  .container {
    display: flex;

    .topArticlesLeft {
      flex: 2;

      .GadRecWrapper {
        display: flex;

        .Gadgets {
          flex: 1;
        }

        .Receipes {
          flex: 1;
        }
      }
    }

    .topArticlesRight {
      flex: 1;
    }
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;

      .GadRecWrapper {
        flex-direction: column;

      }

    }
  }

  @media (max-width: 1200px) {
    .container {
      flex-direction: column;
    }
  }
}
