@import "../../../styles/settings.scss";

.root {
  // * {border: 1px dotted green;}

  .container {
    font-family: $primary-font;
    margin: 20px 0 20px 0;


    .sectionTitle {
      text-transform: uppercase;
      // position: relative;
      font-weight: 500;
      margin: 0 0 10px 15px;

      // .sectionTitle::after {
      //   position: absolute;
      //   display: block;
      //   content: '';
      //   bottom: 10px;
      //   left: 50%;
      //   width: 1800px;
      //   height: 4px;
      //   transform: translateX(10%);
      //   background: $background-color-08;
      // }

    }

    .tilesWrapper {
      display: flex;
      justify-content: space-around;
      margin: 5px 0 10px 0;

      .tileCat {
        text-transform: uppercase;
      }

      img {
        max-width: 260px;
        max-height: 100%;
      }

      .tile01 {
        position: relative;
        margin: 0 3px 0 3px;

        .tileWrapper {
          color: $light-text-color;
          // font-size: $base-size;
          text-align: center;
          font-weight: 500;
          position: absolute;
          left: 5px;
          bottom: 100px;

          .tileCat {
            font-size: $base-size;
          }

          .artTitle {
            padding-top: 10px;
          }

          .editorData {
            font-size: $top-bar;
            padding-top: 20px;
          }
        }

      }
    }
  }


}
