@import "../../../styles/settings.scss";

.root {

  .container {
    font-family: $primary-font;
    margin: 25px 48px 25px 48px;

    .tilesWrapper {
      display: flex;
      justify-content: space-between;

      .tileCat {
        text-transform: uppercase;
      }

      img {
        max-width: 263px;
        max-height: 316px;
      }

      .tile01 {
        position: relative;

        .tileWrapper {
          color: $light-text-color;
          text-align: center;
          font-weight: 500;
          position: absolute;
          left: 5px;
          bottom: 100px;

          .tileCat {
            font-size: $base-size;
          }

          .artTitle {
            padding-top: 10px;
          }

          .editorData {
            font-size: $top-bar;
            padding-top: 20px;
          }
        }
      }
    }
  }
}


